<form method="post" action="/">
    <h3>Beregning af hovedstol for vilkårligt lån.</h3>
    <label for="house_price">Boligens pris:</label><br>
    <input type="text" id="house_price" name="house_price" value="{% if input_house_price %}{{ input_house_price }}{% else %}1.000.000{% endif %}"><br>
    <label for="down_payment">Egen opsparing:</label><br>
    <input type="text" id="down_payment" name="down_payment" value="{% if input_down_payment %}{{ input_down_payment }}{% else %}50.000{% endif %}"><br>
    <label for="bond_price">Kurs på lån:</label><br>
    <input type="text" id="bond_price" name="bond_price" value="{% if input_bond_price %}{{ input_bond_price }}{% else %}95,8{% endif %}"><br>
    <label for="dropdown">Select a bank:</label><br>
    <select id="dropdown" name="dropdown">
        {% for bank_name in dropdown_bank_names %}
        <option value="{{ bank_name }}" {% if bank_name == selected_bank %} selected {% endif %}>{{ bank_name }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Beregn">
</form>
